<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        #pre{
            color: blue;
            font-size: 22px;
            margin: 55px;
            line-height: 54px;
            text-align: center;
        }
    </style>
</head>

<body>
    <H1 style="text-align: center; color:red; font-size: 55px;">ABOUT US !</H1>
    <div id="pre">
        <p>
        our societies have become modern still there are crimes related to womens,we observe it but there are no solutions .<br>
so our team decided to contribute in this ,we decide to help women by creating awareness website which can create awareness <br>


we are planing for better future 

we are the students of <u> pote patil college of engineering and management amravati</u><br>


<h2 style="color: red;">''womens are not weak respect them''</h2>


    </p>
    </div>
</body>

</html>