<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color: rgb(248, 9, 9);
            font-size: 54px;
        }
        li a{
            color: cornflowerblue;
            font-size: 20px;
        }
        li{
            line-height: 44px;
        }
    </style>
</head>
<body>
    <H1>ACTS</H1>
    <div class='link'>
        <ul>
            <li><a href="rape1.html">RAPE</a></li>
            <li><a href="rape.html">MARITAL RAPE</a></li>
        <li><a href="stalking.html">STALKING</a></li>
        <li><a href="sexual.html">SEXUAL HARASSMENT </a></li>
        <li><a href="domesticvoilence.html">DOMESTIC VOILENCE </a></li>
        <li><a href="child.html">CHILD MARRIAGE</a></li>
        <li><a href="depression.html">MENTAL DEPRESSION</a></li>
    </ul>
    </div>
</body>
</html>