<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<style>
		
	</style><head>
<body>
	<font face="gabriola" color="seegreen" size="7pts">
	<b><center><div>Child Marriage</div></center></b></font>
	<table>
		<tr>
			<td><img src="https://thesecondangle.com/tsa-content/uploads/2020/09/20200917_144241.png"></td>
			
			<td bgcolor="whitesmoke"><font face="calibri" size="4px" >
			<p><b>
                
                Child marriage usually refers to a social phenomenon practised in some societies in India, where a young child (usually a girl below the age of fifteen) is married to an adult man. The second form of practice of child marriage is that in which the parents of the two children (the girl and boy) arrange a future marriage. In this practice, the individuals (the boy and girl) do not meet one another until they reach the marriageable age, when the wedding ceremony is performed. As per law, the marriageable age is 21 for males and 18 for females.

                Gender inequality, social norms, perceived low status of girls, poverty, lack of education, safety concerns about girl children and control over sexuality are considered to be reasons for prevalence of child marriages. Girl children in rural areas are more affected than their urban counterparts.
                Marriage systems and practices vary by region, caste and tribe. Rates of child marriage are higher in the North-West and lower in the South-East of the country. The states with the highest rates of child marriage (50% and above) are Bihar, Rajasthan, Jharkhand, Uttar Pradesh, West Bengal, Madhya Pradesh, Andhra Pradesh and Karnataka. But even in low prevalence states there may be pockets of with high rates of child marriage. According to a recent district-level household and facility survey (DLHS), conducted for the Health Ministry, the worst state for child marriage is Bihar, where nearly 70% of women in their early twenties reported having been married by the age of 18; the best is Himachal Pradesh at 9%.

                According to DLHS data, around 48% of married women in the 20-24 year age group got married before 18 in rural areas, compared with 29% in urban areas. Over the past fifteen years, child marriage has declined by just 11 percent – less than one percent per year. The Annual Healthy Survey carried out in 2011, shows a more rapid decline in nine surveyed states.
                
                Marriage systems and practices vary by region, caste and tribe. Rates of child marriage are higher in the North-West and lower in the South-East of the country. The states with the highest rates of child marriage (50% and above) are Bihar, Rajasthan, Jharkhand, Uttar Pradesh, West Bengal, Madhya Pradesh, Andhra Pradesh and Karnataka. But even in low prevalence states there may be pockets of with high rates of child marriage. According to a recent district-level household and facility survey (DLHS), conducted for the Health Ministry, the worst state for child marriage is Bihar, where nearly 70% of women in their early twenties reported having been married by the age of 18; the best is Himachal Pradesh at 9%.

                According to DLHS data, around 48% of married women in the 20-24 year age group got married before 18 in rural areas, compared with 29% in urban areas. Over the past fifteen years, child marriage has declined by just 11 percent – less than one percent per year. The Annual Healthy Survey carried out in 2011, shows a more rapid decline in nine surveyed states.
                
                COVID-19: A threat to progress against child marriage – released on International Women’s Day – warns that school closures, economic stress, service disruptions, pregnancy, and parental deaths due to the pandemic are putting the most vulnerable girls at increased risk of child marriage.

                Even before the COVID-19 outbreak, 100 million girls were at risk of child marriage in the next decade, despite significant reductions in several countries in recent years. In the last ten years, the proportion of young women globally who were married as children had decreased by 15 per cent, from nearly 1 in 4 to 1 in 5, the equivalent of some 25 million marriages averted, a gain that is now under threat.
                
                “COVID-19 has made an already difficult situation for millions of girls even worse. Shuttered schools, isolation from friends and support networks, and rising poverty have added fuel to a fire the world was already struggling to put out. But we can and we must extinguish child marriage,” said UNICEF Executive Director Henrietta Fore. “International Women’s Day is a key moment to remind ourselves of what these girls have to lose if we do not act urgently – their education, their health, and their futures.”  
                
                Girls who marry in childhood face immediate and lifelong consequences. They are more likely to experience domestic violence and less likely to remain in school. Child marriage increases the risk of early and unplanned pregnancy, in turn increasing the risk of maternal complications and mortality. The practice can also isolate girls from family and friends and exclude them from participating in their communities, taking a heavy toll on their mental health and well-being.
                
                COVID-19 is profoundly affecting the lives of girls. Pandemic-related travel restrictions and physical distancing make it difficult for girls to access the health care, social services and community support that protect them from child marriage, unwanted pregnancy and gender-based violence. As schools remain closed, girls are more likely to drop out of education and not return. Job losses and increased economic insecurity may also force families to marry their daughters to ease financial burdens.
                
                Worldwide, an estimated 650 million girls and women alive today were married in childhood, with about half of those occurring in Bangladesh, Brazil, Ethiopia, India and Nigeria. To off-set the impacts of COVID-19 and end the practice by 2030 – the target set out in the Sustainable Development Goals – progress must be significantly accelerated.
                
                “One year into the pandemic, immediate action is needed to mitigate the toll on girls and their families,” added Fore. “By reopening schools, implementing effective laws and policies, ensuring access to health and social services – including sexual and reproductive health services – and providing comprehensive social protection measures for families, we can significantly reduce a girl’s risk of having her childhood stolen through child marriage.”
                
                

            </font></td>
		</tr>
	</table>

</body>
</html>