<!DOCTYPE html>
<html>
<head> 
<title>Domestic Violence</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
div {
text-align: justify;
text-justify: inter-word;
}
body
header {
  text-align: center;
}
nav {
  float: left;
  width: 20%;
  height: 700px;
}
article {
  float: right;
  width: 70%;
 height: 50%;
}
</style>
</head>
<body>
<header>
  <h1>Domestic Violence against Women</h1>
</header>
<nav>
    <ul>
      <img src="https://image.shutterstock.com/image-photo/domestic-violence-torn-pieces-paper-600w-389153110.jpg"style="width:300px;height:250px;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1UTYTnZYQYMtKUJlvInAN-Hw92X1WwDH3Ew&usqp=CAU"style="width:300px;height:300px;">
 </nav>
<article><div>
<h3><font style="times new roman",serif;size="4">Violence against women is a serious problem in India. Overall, one-third of women age 15-49 have experienced physical violence and about 1 in 10 have experienced sexual violence. In total, 35 percent have experienced physical or sexual violence. This figure translates into millions of women who have suffered, and continue to suffer, at the hands of husbands and other family members. NFHS-3 collected information from married and unmarried women age 15-49 about their experience of physical and sexual violence. Married women were also asked about their experience of emotional violence. NFHS-3 findings underscore the extent and severity of violence against women in India, especially married women</li>
<p><li>Slapping is the most common act of physical violence by husbands. Thirty- four percent of married women say their husband has slapped them; 15 percent say their husband has pulled their hair or twisted their arms; and 14 percent have been pushed, shaken, or had something thrown at them.

<li>One in 10 married women have experienced sexual violence at the hands of their husband, i.e., they have been physically forced against their will by their husband to have sex or perform other sexual acts they did not want to perform.</li>

<li>Often, this physical and sexual violence causes injuries. Almost two in five women who have experienced physical or sexual violence report having injuries, including 36 percent who had cuts, bruises or aches; 9 percent who had eye injuries, sprains, dislocations, or burns; and 7 percent who had deep wounds, broken bones, broken teeth, or other serious injuries.</li>

<li>The prevalence of spousal physical or sexual violence is much higher among women in the poorest households (49 percent) than among women in the wealthier households (18 percent).</li>

<li>Nearly half (46 percent) of married women with no education have experienced spousal violence; similarly, nearly half of women whose husbands have no education (47 percent) have experienced spousal violence.</li>

<li>Twelve percent of married women with 12 or more years of education have experienced spousal violence, compared with 21 percent of married women whose husbands have 12 or more years of education. This suggests that women’s own education reduces their likelihood of experiencing spousal violence more than their husband’s education.</li>

<li>Spousal violence is lower among couples in which husbands and wives have both been to school and are equally educated (23 percent) than among couples where the husband has more education than the wife (36 percent).</li>

<li>The cycle of domestic violence is repeated across generations. Women whose mothers were beaten by their fathers are twice as likely to experience violence as women whose mothers were not beaten by their fathers: 60 percent, compared with 30 percent.</li>

<li>Women married to men who get drunk frequently are more than twice as likely to experience violence as women whose husbands do not drink alcohol at all. However, even though alcohol is important, it is not the only factor accounting for the high prevalence of violence against women, as 30 percent of even women whose husbands do not drink have experienced spousal violence.</li>
</li></p>
<p>
<li>Never Married Women Also Experience Physical and Sexual Violence</li>
<li>Sixteen percent of never married women have experienced physical violence since they were 15 years of age, generally by a parent, a sibling, or a teacher.</li>

<li>One percent of never married women report having ever been sexually abused by anyone. Among never married women who have experienced sexual violence, 27 percent say that the perpetrator of the violence was a relative.</li>

<li>Most Women Do Not Seek Help When They Are Abused</li>
<li>Only one in four abused women have ever sought help to try to end the violence they have experienced. Two out of three women have not only never sought help, but have also never told anyone about the violence.</li>

<li>Abused women most often seek help from their families.</li>

<li>Few abused women seek help from any institutional source such as police, medical institutions, or social service organizations. Only 2 percent of abused women have ever sought help from the police.</li>

<li>Majority of Women and Men Say That a Husband Is Justified in Beating His Wife</li>
<li>More than half of women (54 percent) and men (51 percent) agree that it is justifiable for a husband to beat his wife under some circumstances.</li>

<li>Women and men most often agree that wife beating is justified when the wife disrespects her in-laws.</li>
<li>Neglect of the house or children is the second most commonly agreed to justification for wife beating for both women and men</li>
</font></p></h3></div>
</article>
</body>
</html>
