<!DOCTYPE html>
<html>
<head>
<style>
table, td, th {
  border: 1px solid whitesmoke;
  text-decoration: none;
  border-collapse: collapse;
  width: 74%;
  font-size: 18px;
  margin-top: 30px;
  margin-left: 15px;
  font-family: sans-serif;

  }

th, td {
  width:4px;
  text-align: left;
  padding: 8px;
  text-decoration: none;
}
th{
  background-color: black;
  color: white;
}

tr:nth-child(even) {
  background-color: whitesmoke;
}
.heading{
  padding: 6px;
  background-color: whitesmoke;
  font-family: sans-serif;
  text-decoration: underline;
}


</style>
</head>
<body><center>
<h2 class="heading">State And UTS Police</h2>

<table>
  <tr>
    <center><td colspan="3" style="text-align: center;background-color: whitesmoke; size: 6pt;"><b>State Police</b></td></center>
  </tr>
  <tr>
    <th>SR-No.</th>
    <th>Title</th>
    <th>Download/Link</th>
  </tr>

  <tr>
    <td>1</td>
    <td>Andhra Pradesh</td>
    <td><a  href="https://www.appolice.gov.in/">Click here</a></td>
  </tr>

  <tr>
    <td>2</td>
    <td>Arunachal Pradesh</td>
    <td><a href="http://arunpol.nic.in/">Click here</a></td>
  </tr>

  <tr>
    <td>3</td>
    <td>Assam</td>
    <td><a href="https://police.assam.gov.in/">Click here</a></td>
  </tr>

  <tr>
    <td>4</td>
    <td>Bihar</td>
    <td><a href="http://biharpolice.bih.nic.in/">Click here</a></td>
  </tr>

  <tr>
    <td>5</td>
    <td>Chhattisgarh</td>
    <td><a href="http://cgpolice.gov.in/">Click here</a></td>
  </tr>

  <tr>
    <td>6</td>
    <td>Goa</td>
    <td><a href="https://citizen.goapolice.gov.in/">Click here</a></td>
  </tr>

  <tr>
    <td>7</td>
    <td>Gujrat</td>
    <td><a href="https://police.gujarat.gov.in/">Click here</a></td>
  </tr>

  <tr>
    <td>8</td>
    <td>Haryana</td>
    <td><a href="http://haryanapoliceonline.gov.in/">Click here</a></td>
  </tr>

  <tr>
    <td>9</td>
    <td>Himachal Pradesh</td>
    <td><a href="http://citizenportal.hppolice.gov.in:8080/citizen/login.htm?loggedout=true">Click here</a></td>
  </tr>

  <tr>
    <td>10</td>
    <td>Jharkhand</td>
    <td><a href="http://www.jhpolice.gov.in/">Click here</a></td>
  </tr>

  <tr>
    <td>11</td>
    <td>Karnataka</td>
    <td><a href="https://www.ksp.gov.in/">Click here</a></td>
  </tr>

  <tr>
    <td>12</td>
    <td>Kerala</td>
    <td><a href="http://keralapolice.org/">Click here</a></td>
  </tr>

  <tr>
    <td>13</td>
    <td>Madhya Pradesh</td>
    <td><a href="http://www.mppolice.gov.in/en">Click here</a></td>
  </tr>

  <tr>
    <td>14</td>
    <td>Maharashtra</td>
    <td><a href="http://mahapolice.gov.in/">Click here</a></td>
  </tr>

  <tr>
    <td>15</td>
    <td>Manipur</td>
    <td><a href="http://www.manipurpolice.gov.in/">Click here</a></td>
  </tr>

  <tr>
    <td>16</td>
    <td>Meghalaya</td>
    <td><a href="http://megpolice.gov.in/">Click here</a></td>
  </tr>

  <tr>
    <td>17</td>
    <td>Mizoram</td>
    <td><a href="https://police.mizoram.gov.in/">Click here</a></td>
  </tr>

  <tr>
    <td>18</td>
    <td>Nagaland</td>
    <td><a href="http://nagapol.gov.in/">Click here</a></td>
  </tr>

  <tr>
    <td>19</td>
    <td>Orissa</td>
    <td><a href="http://www.odishapolice.gov.in/">Click here</a></td>
  </tr>

  <tr>
    <td>20</td>
    <td>Punjab</td>
    <td><a href="http://www.punjabpolice.gov.in/">Click here</a></td>
  </tr>

  <tr>
    <td>21</td>
    <td>Rajasthan</td>
    <td><a href="http://police.rajasthan.gov.in/">Click here</a></td>
  </tr>

  <tr>
    <td>22</td>
    <td>sikkim</td>
    <td><a href="http://sikkimpolice.nic.in/">Click here</a></td>
  </tr>

  <tr>
    <td>23</td>
    <td>Tamil Nadu</td>
    <td><a href="http://www.tnpolice.gov.in/">Click here</a></td>
  </tr>

  <tr>
    <td>24</td>
    <td>Tripura</td>
    <td><a href="http://www.tripurapolice.gov.in/">Click here</a></td>
  </tr>

  <tr>
    <td>25</td>
    <td>Telangana</td>
    <td><a href="http://www.telangana.gov.in/">Click here</a></td>
  </tr>

  <tr>
    <td>26</td>
    <td>Uttarakhand</td>
    <td><a href="https://uttarakhandpolice.uk.gov.in/">Click here</a></td>
  </tr>

  <tr>
    <td>27</td>
    <td>Uttar Pradesh</td>
    <td><a href="https://uppolice.gov.in/">Click here</a></td>
  </tr>

<tr>
    <td>28</td>
    <td>West Bengal</td>
    <td><a href="http://wbpolice.gov.in/">Click here</a></td>
  </tr>
</table></center><br><center>
<h2 class="heading">Union Territories Police</h2>

<table><tr>
    <center><td colspan="3" style="text-align: center;background-color: whitesmoke; size: 6pt;"><b>Union Territories Police</b></td></center>
  </tr>
  <tr>
    <th>SR-No.</th>
    <th>Title</th>
    <th>Download/Link</th>
  </tr>

  <tr>
    <td>1</td>
    <td>Andaman and Nicobar Islands</td>
    <td><a href="http://police.andaman.gov.in/index.php/en">Click here</a></td>
  </tr>

  <tr>
    <td>2</td>
    <td>Chandigarh</td>
    <td><a href="http://chandigarhpolice.gov.in/">Click here</a></td>
  </tr>

  <tr>
    <td>3</td>
    <td>The Government of NCT of Delhi</td>
    <td><a href="http://delhipolice.nic.in/">Click here</a></td>
  </tr>

  <tr>
    <td>4</td>
    <td>Dadra and Nagar Haveli</td>
    <td><a href="http://citizen.dnhpolice.gov.in/">Click here</a></td>
  </tr>

  <tr>
    <td>5</td>
    <td>Daman and Diu</td>
    <td><a href="http://daman.nic.in/">Click here</a></td>
  </tr>

  <tr>
    <td>6</td>
    <td>Lakshadweep</td>
    <td><a href="https://lakshadweeppolice.gov.in/">Click here</a></td>
  </tr>

  <tr>
    <td>7</td>
    <td>Puducherry</td>
    <td><a href="https://police.py.gov.in/">Click here</a></td>
  </tr>

  <tr>
    <td>8</td>
    <td>Jammu & Kashmir</td>
    <td><a href="http://www.jkpolice.gov.in/">Click here</a></td>
  </tr>

  <tr>
    <td>9</td>
    <td>Ladakh</td>
    <td><a href="http://police.ladakh.gov.in/">Click here</a></td>
  </tr>
</table></center></body></html>
