<!DOCTYPE html>
<html>

<head>
    <title>Women's Safety</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <table border="2" cellpadding="10" cellspacing="2">
   <tr>
    <th>Sr.No.</th>
    <th>Image</th>
    <th>Information</th>
</tr>
<tr>
    <th>1</th>
    <main class="main1">
            <td><img class="main2" src="https://www.statista.com/graphic/1/632493/reported-rape-cases-india.jpg" height="200rem" alt="image is not showing becouse some error"></td>
        <td><p><strong> Total number of rape cases reported in India from 2005 to 2020 </strong> </br> In 2020, the total
            number of rape cases reported in India amounted to over 28 thousand.</br> This was a decrease in
            rape cases compared to the previous year.</br> Even though many rapes are not reported in the country,
            </br>it is an issue
            that continuously makes news headlines, </br>some leading to public protests. Although reports of rape have
            increased
            in recent years,</br> it was still associated with shame for the victim, rather than the perpetrator. </p>
        </td> </main>
</tr>
    <tr>
        <th>2</th>
        <main class="main1">
        <td><img class="main2" src="https://mir-s3-cdn-cf.behance.net/projects/404/c69de1105415737.5f7890562faaf.png" height="200rem"  alt="image is not showing becouse some error"></td>
        <td><p><strong>80 Murders, 77 Rape Cases Daily In 2020: What Report Reveals About Crime In India </strong> </br>
            With an average of 80 murders daily in 2020, India reported a total of 29,193 fatalities in 2020 with
            Uttar Pradesh topping the chart among states.</br>
            New Delhi:</br>
            India has recorded an average of 80 murders and 77 rape cases daily in 2020, </br> National Crime Records
            Bureau's (NCRB) report revealed on Wednesday.</br>
            With an average of 80 murders daily in 2020,</br> India reported a total of 29,193 fatalities in 2020 with
            Uttar Pradesh topping the chart among states.
        </p>
    </td>
    </main>
</tr>
<tr>
    <th>3</th>
    <main class="main1">
    <td><img class="main2" src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201312/rape-victim-660_120213014528_121313094906.jpg" height="200rem" alt="image is not showing becouse some error"> </td>
        <td> <p>
            <strong >Statistics on rape in India and some well-known cases</strong> </br>
            (Reuters) - Indian police shot dead four men on Friday who were suspected of raping and killing a
            27-year-old</br>
            veterinarian in the city of Hyderabad,</br> a police official told Reuters, </br>drawing applause from her
            family and
            citizens outraged over crimes against women.</br>
            More than 32,500 cases of rape were registered with the police in 2017,</br> about 90 a day, according to
            the most recent government data.</br>
            Indian courts disposed of only about 18,300 cases related to rape that year, </br>leaving more than 127,800
            cases pending at the end of 2017.</br>
        </p>
    </td>
    </main>
</tr>
</table>
</body>

</html>
